.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto 0;

  .checkout-header {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }

      span {
        font-size: 1.4rem;
      }
    }
  }

  .total {
    margin-top: 3rem;
    margin-left: auto;
    font-size: 3.2rem;
  }
}
