.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 38rem;

  h2 {
    margin-top: 1rem;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}

.google-logo {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid #4285f4;
}
