.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 38rem;

  h2 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  span {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    color: #333;
  }
}
