$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -1.4rem;
  font-size: 1.2rem;
  color: $main-color;
}

.group {
  position: relative;

  .form-input {
    background: none;
    background-color: white;
    color: $main-color;
    font-size: 1.8rem;
    padding: 1rem 1rem 1rem 0.5rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin-top: 2.4rem;
    transition: all 0.25s;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 1.6rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.5rem;
    top: 1rem;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
.form-input-container {
  position: relative;
  margin-bottom: 4rem;
}

.error-message {
  font-size: 1.2rem;
  color: red;
  position: absolute;
}
